# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Project specific
input_pdfs/
output_pdfs/
server_state.json
server_config.json
server_subjects.json
!!!meta.json
*.zip
coverage/
junit.xml
S.C.H.R.I.F.T..code-workspace
